* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    position: absolute;
    transition: 4s;
}

.green:hover {
    transform: scale(1.5) rotate(-45deg);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    z-index: 1;
    left: 50px;
    top: 50px;
}

.blue {
    background-color: blue;
    left: 100px;
    top: 100px;
}